body {
    background-color: lightsalmon;
    margin: 30px;
    padding: 30px;
}

html {
    background-color: lightblue;
}


.border {
    border-top: solid 5px;
    margin: 0px;
}

.header {
    margin: 0px;
    border-bottom: solid 2px;
    text-align: center;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.sticky button {
    background-color: inherit;
    float: left;
    border-right: solid 5px;
    border-bottom: solid 5px;
    border-left: solid 5px;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 14px;
}

.sticky button:hover {
    background-color: lightgray;
}

.sticky button.active {
    background-color: darkgray;
}

.logo {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.facebook {
    width: 80px;
    height: 80px;
}

.instagram {
    width: 80px;
    height: 80px;
}

.tiktok {
    width: 80px;
    height: 80px;
}

.table {
    width: 500px;
    height: 500px;
    margin-left: auto;
    display: block;
}

.about {
    margin: 70px 0px;
}


.paragraph1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

.paragraph2 {
    text-indent: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

.paragraph3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.review {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: left;
    width: 30%;
    padding: 10px;
    margin: 5px;
    border: 2px solid;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

.paragraph4review {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
    border: 2px solid;
    width: 200px;
    height: 200px;
    margin-left: 100px;
}

.paragraph5review {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
    border: 2px solid;
    width: 200px;
    height: 200px;
    margin-left: 500px;
}

.paragraph6review {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
    border: 2px solid;
    width: 200px;
    height: 200px;
    margin-left: 650px;
}

.footer{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
}

.interested {
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
}

.interested2 {
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
}

.social {
    flex: 30%;
    width: 33%;
    padding: 5px;
}

.group {
    display: flex;
    text-align: center;
}

.header21 {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.header22 {
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 360px;
}

.lists {
    margin-left: 550px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.feed {
    margin-left: 350px;
}

.sign-up {
    text-align: center;
    margin-top: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.log-in {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.firstname {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-left: 400px;
}

.lastname {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-left: 400px;
}

.email {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-left: 400px;
}

.email2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-left: 400px;
}

.password {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-left: 400px;
}

.password2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-left: 400px;
}

.verypassword {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-left: 400px;
}

#create {
    margin-left: 580px;
    margin-top: 20px;
    font-size: 20px;
}

#log{
    margin-left: 580px;
    margin-top: 20px;
    font-size: 20px;
}

.begin {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

#nav-hamburger {
    float: left;
    width: 50px;
    height: 50px;
    display: block;
    border: none;
    padding: 0px;
    margin-right: 10px;
    margin-top: 0px;
    background: linear-gradient(
        to bottom,
        black, black 20%,
        lightsalmon 20%, lightsalmon 40%,
        black 40%, black 60%,
        lightsalmon 60%, lightsalmon 80%,
        black 80%, black 100%
    );
}

#nav-hamburger #nav-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: black;
    padding: 0px 10px;
    box-sizing: border-box;
}

.overlay {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#main-menu li {
    list-style-type: none;
    font-weight: 2rem;
}

#main-menu a {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
}

#main-menu a:hover {
    text-decoration: underline;
}

#hamburger-in {
    display: none;
}

#nav-hamburger h3 {
    color: #B9FAF8;
    font-size: 2.2rem;
}

#nav-hamburger ul {
    padding-left: 0px;
}

#nav-hamburger li {
    list-style-type: none;
    line-height: 3rem;
}

#nav-hamburger a {
    color: #B9FAF8;
    font-size: 1.3rem;
    text-decoration: none;
}

#nav-hamburger a:hover {
    text-decoration: underline;
}

#hamburger-in:checked + #nav-hamburger #nav-menu {
    visibility: visible;
    left: 0;
}

#hamburger-in:checked ~ .overlay {
    visibility: visible;
    opacity: 0.4;
}

.customerheader {
    margin: 0px;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.furniture {
    position: static;
    width: 200px;
    height: 200px;
}

.furniture:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}

.furniture2 {
    position: static;
    width: 200px;
    height: 200px;
}

.furniture2:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}

.furniture3 {
    position: static;
    width: 200px;
    height: 200px;
}

.furniture3:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}

.furniture4 {
    position: static;
    width: 200px;
    height: 200px;
}

.furniture4:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}

.furniture5 {
    position: static;
    width: 200px;
    height: 200px;
}

.furniture5:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}

.furniture6 {
    position: static;
    width: 200px;
    height: 200px;
}

.furniture6:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}

.furniture7 {
    position: static;
    width: 200px;
    height: 200px;
}

.furniture7:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}

.furniture8 {
    position: static;
    width: 200px;
    height: 200px;
}

.furniture8:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}

.furniture9 {
    position: static;
    width: 200px;
    height: 200px;
}

.furniture9:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}

.furniture10 {
    position: static;
    width: 200px;
    height: 200px;
}

.furniture10:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}

.furniture11 {
    position: static;
    width: 200px;
    height: 200px;
}

.furniture11:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}

.furniture12 {
    position: static;
    width: 200px;
    height: 200px;
}

.furniture12:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}