body {
    background-color: white;
    margin: 30px;
    padding: 30px;
}

html {
    background-color: lightgrey;
}


p.border {
    border-top: solid 5px;
    margin: 0px;
}

h1.header {
    border-style: solid;
    text-align: center;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.sticky button {
    background-color: inherit;
    float: left;
    border-right: solid 5px;
    border-bottom: solid 5px;
    border-left: solid 5px;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.sticky button:hover {
    background-color: lightgray;
}

.sticky button.active {
    background-color: darkgray;
}

.logo {
    position: static;
    width: 200px;
    height: 200px;
    float: left;
    margin: 50px;
}



.paragraph1 {
    text-align: justify;
}